body {
    margin: 0;
}

.container {
    width: 1110px;
    margin: 0 auto;
}

.header {
    height: 60px;
    background: #1D2F30;
}

.header__container {
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__right {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navigation {

}

.navigation__list {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navigation__item {

}
